doctype html

html
  head
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/main.js')
    block title
      title This is my title from layout file


  body  
    block content
      h1 this is my heading layout file